name: Shai-Hulud 2 Supply Chain Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize]

jobs:
  scan-root:
    uses: elissiafellow/shaitry/.github/workflows/shai-hulud-2-scanner.yml@npm-scanner
    with:
      node_version: "18"
      scan_target: "."  # root package.json
      #fail_on: "critical"  # Options: critical, warning, off
      artifact_name_suffix: "root"

  scan-frontend:
    uses: elissiafellow/shaitry/.github/workflows/shai-hulud-2-scanner.yml@npm-scanner
    with:
      node_version: "18"
      scan_target: "frontend"  # frontend package.json
      #fail_on: "critical"  # Options: critical, warning, off
      artifact_name_suffix: "frontend"
